*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: tomato;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container{
width: 500px;
height: 442px;
background-color: aliceblue;
padding: 20px;
border-radius: 16px;

}

.container h1{
    font-size: 48px;
    font-weight: 600;
}

.headContainer{
    display: flex;
    flex-direction: row;
}

.headContainer img{
    width: 258px;
    height: 258px;
}

.textContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.textContainer input{
    border: 2px solid tomato;
    width: 48px;
    height: 48px;
    border-radius: 5px;
}


.textContainer{
    margin-top: 64px;
    margin-top: 20px;
}

.textContainer h2{
    margin-bottom: 20px;
}

.textContainer h3{
    font-size: 18px;
    font-weight: 600;
}
.textContainer p{
    font-size: 18px;
    color: orange;
    font-weight: 600;
}

a{
    text-align: left;
    color: orange;
}


button{
    background-color: #DE5540;
    height: 35px;
    border-radius: 5px ;
    width: 161px;
    color: aliceblue;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #dd371d;
}